<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/style2.css" />
  </head>
  <body>
    <div class="main">
      <nav class="navigation">
        <div class="logo">
          <a href="/">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/logo.png"
              alt="logo"
          /></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/about">About us</a></li>
            <li>Our Products</li>
            <li>Resources</li>
            <li>Contact Us</li>
            <i class="fa-solid fa-user"></i>
            <button onclick="applyForm()" class="mainApplybtn1">Apply Now</button>
          </ul>
        </div>
      </nav>
    </div>
    <main>
      <section class="section1">
        <div class="sec1Left">
          <span>We transform</span>
          <p>your dreams into reality!</p>
        </div>
        <div class="sec1Right">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/about-us.webp"
            alt="bachelorBoy"
          />
        </div>
      </section>
      <section class="section2">
        <h1>About Us</h1>
        <p>
          <span>Avanse Financial Services</span> was established in 2013 with
          the sole purpose of enabling students to achieve their academic
          aspirations. We're an education-focused NBFC that provides
          hyper-personalised education financing solutions to every deserving
          Indian student. We are committed to democratising education and
          education financing in India. Our range of solutions covers the
          holistic requirements of an education aspirant. We also provide growth
          and working capital needs of educational institutes in India.
        </p>
        <p>
          Warburg Pincus, a leading global private equity firm, holds the
          majority stake at Avanse Financial Services. The global growth
          investor is known for its highly diversified portfolio and has over
          ~$83 billion in assets under management across 260 companies. Kedaara
          Capital, an operationally oriented private equity firm pursuing
          control & minority investment opportunities in India, Mubadala
          Investment Company, a sovereign investor managing a global portfolio
          aimed at generating sustainable financial returns for the Government
          of Abu Dhabi, International Finance Corporation (IFC), an arm of the
          World Bank, and Avendus PE Investment Advisors, are the other
          shareholders of the organisation.
        </p>
      </section>
      <section class="section3">
        <span>Our Mission</span>
        <p>
          To make education financing seamless and affordable for every
          deserving Indian student
        </p>
        <span>Our Purpose</span>
        <p>Democratising Education & Education Financing in India</p>
      </section>
      <section class="section4">
        <h2>Our Journey</h2>
        <div class="imageBox">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/journey/01.png"
            alt=""
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/journey/02.png"
            alt=""
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/journey/03.png"
            alt=""
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/journey/04.png"
            alt=""
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/journey/05.png"
            alt=""
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/journey/06.png"
            alt=""
          />
        </div>
        <div class="imageInfo">
          <div class="imageinfo0">
            <h4>Establishment of Avanse</h4>
            <p>Avanse was Incorporated</p>
            <div class="line"></div>
            <p>Launched the Education Loan business</p>
            <div class="line"></div>
            <p>IFC invests in Avanse- 20% equity stake</p>
          </div>
          <div class="imageinfo0">
            <h4>Launch of New Business</h4>
            <p>Launched the Education Institution Loan business</p>
          </div>
          <div class="imageinfo0">
            <h4>New Management & Business Growth Phase</h4>
            <p>New management team on board</p>
            <div class="line"></div>
            <p>Crossed ~INR 1,000 Cr. AUM</p>
            <div class="line"></div>
            <p>~INR 200 Cr. monthly disbursment run rate</p>
            <div class="line"></div>
            <p>Executed India's first securitisation deal in education loans</p>
          </div>
          <div class="imageinfo0">
            <h4>
              New Business Line Launched & Stakes Acquired by New Shareholder
            </h4>
            <p>
              Launched Digital Business, E-tutoring and Skill Enhancement
              verticals
            </p>
            <div class="line"></div>
            <p>NABARD refinancing under Social Infrastructure Loans</p>
            <div class="line"></div>
            <p>Warburg Pincus acquired 80% equity stake</p>
          </div>
          <div class="imageinfo0">
            <h4>New Fund Line Created</h4>
            <p>
              Funds raised through TLTRO 2.0 and partial credit guarantee scheme
              from GoI
            </p>
            <div class="line"></div>
            <p>Raised $15 Mn ECB by DFC</p>
          </div>
          <div class="imageinfo0">
            <h4>Highest-ever Business Performance Numbers</h4>
            <p>
              Built robust partnerships with Credit Fair, Scienaptic, and
              MoneyHop; achieved highest ever growth in disbursement of ~INR
              2,927 Cr.
            </p>
            <div class="line"></div>
            <p>~INR 357 Cr. raised via securitisation transaction</p>
          </div>
        </div>
      </section>
      <section class="section5">
        <h1>Our Offerings</h1>
        <div class="sec5Box">
          <div class="sec5Left">
            <h3>Student Loans</h3>
            <p class="sec5Exception">
              At Avanse, we believe in providing holistic education financing
              solutions to deserving students. Our
              <span class="sec5ExceptionSpan">education loans</span> are
              designed to provide financial assistance across a wide spectrum of
              student needs. Our solutions include:
            </p>
            <p>
              <i class="fa-solid fa-check"></i>
              <span>Loan for Higher Education -</span> With our loan you can
              focus on your course in the institute of your dreams and we'll
              take care of all the finances.
            </p>
            <ul>
              <li>
                <span>Study Abroad Loan</span> - We help students fund up to
                100% of the cost of studying and living abroad!
              </li>
              <li>
                <span>Study in India Loan</span> - We enable students to achieve
                their academic aspirations by offering 100% of the tuition fees!
              </li>
            </ul>
            <p>
              <i class="fa-solid fa-check"></i> <span>Short Term Loans</span> -
              Get the funds you need to pay your child?s school fees upfront or
              fund your child's online/offline tutoring or courses.
            </p>

            <p>
              <i class="fa-solid fa-check"></i>
              <span>Student Loan Refinancing</span> - Our loan refinancing
              allows the aspirants to switch their existing loan provider or
              apply for a new loan to pay off their existing loan
            </p>
          </div>
          <div class="sec5Right">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/student-offering-new.png"
              alt="bachelorGirl"
            />
          </div>
        </div>
      </section>
      <section class="section6">
        <div class="sec6Left">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/professional-offering-new.png"
            alt="employe"
          />
        </div>
        <div class="sec6Right">
          <h3>Loans for Professionals</h3>
          <p>
            Enhancing your career with new skills has never been easier. Avanse
            will help you pay for an MBA or skills course with Executive
            Education Loans and Skill Enhancement Loans. When you partner with
            us, learning never has to stop!
          </p>
          <p>
            <i class="fa-solid fa-check"></i>
            <span>Skill Enhancement Loans</span> - Professionals can opt for a
            loan to learn new skills that will further their careers.
          </p>
          <p>
            <i class="fa-solid fa-check"></i>
            <span>Executive Education Loans</span> - We provide student finance
            for postgraduate study for professionals looking to grow and climb
            the corporate ladder.
          </p>
        </div>
      </section>
      <section class="section7">
        <div class="sec7Left">
          <h3>Institution Loans</h3>
          <p>
            We are committed to building education infrastructure across India.
            We provide Education Institution Loans and Social Infrastructure
            Loans to ensure that children and adults are never too far away from
            quality educational facilities.
          </p>
          <p>
            <i class="fa-solid fa-check"></i>
            <span>Loan for Education Institutions</span> - All education and
            training institutions in India can apply for this loan to help with
            their capital and operational expenditures.
          </p>
          <p>
            <i class="fa-solid fa-check"></i>
            <span>Social Infrastructure Loan</span> - We help underserved youth
            and communities gain access to quality education.
          </p>
        </div>
        <div class="sec7Right">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/eil-about-new.png"
            alt="employe"
          />
        </div>
      </section>
      <section class="section8">
        <h1>Cultural Pillars</h1>
        <div class="sec8IconMain">
          <div class="sec8Icon">
            <i class="fa-solid fa-building-columns"></i>
            <p>Governance</p>
          </div>
          <div class="sec8Icon">
            <i class="fa-solid fa-paste"></i>
            <p>Accountability</p>
          </div>
          <div class="sec8Icon">
            <i class="fa-solid fa-user-group"></i>
            <p>Inclusivity</p>
          </div>
          <div class="sec8Icon">
            <i class="fa-solid fa-school-flag"></i>
            <p>Meritocracy</p>
          </div>
          <div class="sec8Icon">
            <i class="fa-solid fa-coins"></i>
            <p>Consistent Value Creation</p>
          </div>
          <div class="sec8Icon">
            <i class="fa-regular fa-face-smile-beam"></i>
            <p>Happiness Quotient</p>
          </div>
        </div>
      </section>
      <section class="section9">
        <h1>Avanse Financial Services Ltd</h1>
        <h2>Board of Directors</h2>
        <div class="boxMain">
          <div class="sec9Left">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/team/narendra-ostawal.jpg"
              alt="someDirector"
            />
          </div>
          <div class="sec9Right">
            <h4>Mr. Narendra Ostawal</h4>
            <p>Non-Executive Director</p>
            <p class="sec9RightAbout">
              "After completing a post-graduate diploma in Business Management
              from IIM - Bengaluru, Mr Ostawal went on to become the Managing
              Director of Warburg Pincus India Private Limited. As part of his
              role, he leads investment evaluation and has been instrumental in
              deals with Kotak Mahindra Bank, Capital First Limited and AU Small
              Finance Bank Limited. Along with all his other responsibilities,
              he also serves as the Nominee Director of Fusion Micro Finance
              Private Limited. Previously, he was a Nominee Director on the
              Board of AU Small Finance Bank Limited and Capital First Limited."
            </p>
          </div>
        </div>
      </section>
      <section class="section10">
        <h1>Leaders at Avanse</h1>
        <h2>Education Finance Company</h2>
        <div class="leaderBoxMain">
          <div class="leaderInfoBox">
            <div class="leaderImgBox">
              <img
                src="https://www.avanse.com/viewPagesAssets/img/team/leaders-ganesh-lyer.jpg"
                alt="leader"
              />
            </div>

            <div class="leaderinfo">
              <p>Ganesh Iyer</p>
              <p>Chief Audit Officer</p>
              <p>
                Ganesh has nearly two decades of experience in enterprise-wide
                internal audit and risk reviews within the BFSI sector. With his
                excellent risk management skills, he has formulated robust audit
                plans aligned with organisational objectives. He is proficient
                in setting up independent management assurance and audit
                functions, creating a robust credit policy framework,
                structuring credit loss forecasting mechanisms, portfolio
                monitoring, and risk underwriting. He possesses in-depth
                knowledge of governance policies, audit programs and
                digitisation.
              </p>
            </div>
          </div>
          <div class="leaderInfoBox">
            <div class="leaderImgBox">
              <img
                src="https://www.avanse.com/viewPagesAssets/img/team/leaders-vivek-baranwal.jpg"
                alt="leader"
              />
            </div>

            <div class="leaderinfo">
              <p>Vivek Baranwal</p>
              <p>Chief Business Officer - Institution Business & Cross-sell</p>
              <p>
                With over 20 years of experience, Vivek possesses deep insights
                and knowledge of India's growing financial services sector.
                During his professional journey, he has been focused on
                developing business strategies, managing credit risk and
                collections, providing direction towards acquiring new clients
                and enhancing existing customer relations. His deep
                understanding of the lending and mortgage industry enabled him
                to define and achieve strategic goals successfully.
              </p>
            </div>
          </div>
          <div class="leaderInfoBox">
            <div class="leaderImgBox">
              <img
                src="https://www.avanse.com/assets/images/team/achal-goel.jpg"
                alt="leader"
              />
            </div>

            <div class="leaderinfo">
              <p>Achal Goel</p>
              <p>Chief People Office</p>
              <p>
                Achal has over two decades of experience across various
                verticals of a finance institution, possessing a holistic
                understanding of all the functionalities of the overall
                industry. He has been instrumental in laying a strong people
                practice foundation and cultural transformation, enabling
                enhanced employee experiences. Achal leads the HR team in
                developing and implementing best practices, policies, and
                procedures to support Avanse's most important asset - its
                people.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section9Q">
        <a href="/">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/logo.png"
            alt="Logo"
        /></a>
        <div class="queote">
          <p>Are you ready to transform your life?</p>
          <p>Get a hassle-free education loan in just 3 days!</p>
        </div>
        <button class="applyNowLst">Apply Now</button>
      </section>
    </main>
    <footer class="footer">
      <div class="footerBox footerBox1">
        <h3>Education Loan</h3>
        <a href="">Avanse Education Loans</a
        ><a href="">Study in India Education Loan</a
        ><a href="">Study Abroad Education Loan</a
        ><a href="">Executive Education Loan</a
        ><a href="">Student Loan Refinancing</a>
      </div>
      <div class="footerBox footerBox2">
        <h3>Calculator</h3>
        <a href="">Course Expense Calculator</a
        ><a href="">Eligibility Calculator</a
        ><a href="">Education Loan EMI Calculator</a>
      </div>
      <div class="footerBox footerBox3">
        <h3>Company</h3>
        <a href="">About Avanse</a><a href="">Careers</a><a href="">Investors</a
        ><a href="">Media Room</a><a href="">Responsible Lending </a
        ><a href="">Sitemap</a>
      </div>
      <div class="footerBox footerBox4">
        <h3>Resources</h3>
        <a href="">Study Loan Resources</a><a href="">Blog</a
        ><a href="">Good Credit</a><a href="">FAQ's</a
        ><a href="">Pay Online</a> <a href="">WhatsApp Communication</a
        ><a href="">Sarfaesi Notice</a>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/indes.js"></script>
  </body>
</html>
