<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply Here</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../stylesheets/apply.css" />
  </head>
  <body>
    <nav class="navigation">
      <div class="logo">
        <a href="/">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/logo.png"
            alt="logo"
        /></a>
      </div>
      <div class="links">
        <ul>
          <li><a href="/about">About us</a></li>
          <li>Our Products</li>
          <li>Resources</li>
          <li>Contact Us</li>
          <i class="fa-solid fa-user"></i>
          <button onclick="applyForm()" class="mainApplybtn1">Apply Now</button>
        </ul>
      </div>
    </nav>

    <main>
      <section class="aplySection1">
        <div class="aplyLeft">
          <p>
            Customised <span>Solutions</span> For Your
            <span>Desired</span> International Education
          </p>
          <div class="aplySec1Features">
            <div class="featureBox">
              <p>Fastest Sanction within 72hrs*</p>
            </div>
            <div class="featureBox">
              <p>Fastest Sanction within 72hrs*</p>
            </div>
            <div class="featureBox">
              <p>Fastest Sanction within 72hrs*</p>
            </div>
            <div class="featureBox">
              <p>Fastest Sanction within 72hrs*</p>
            </div>
          </div>
          <span class="t&c">*T&C Apply</span>
        </div>
        <div class="aplyRight">
          <form action="/apply">
            <div class="formInfo">
              <input
                class="formInput"
                type="text"
                placeholder="First Name"
                maxlength="50"
              />
              <input
                class="formInput"
                type="text"
                placeholder="Last Name"
                maxlength="50"
              />
              <input
                class="formInput"
                type="number"
                placeholder="Contact Number"
                maxlength="50"
              />
              <input
                class="formInput"
                type="text"
                placeholder="E-mail ID"
                maxlength="50"
              />
              <input
                class="formInput"
                type="date"
                name="time"
                id="time"
                placeholder="Time Of Study"
              />
              <select name="place" id="place">
                <option value="place of study">Preferred of Study</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
              </select>
              <select name="place" id="place">
                <option value="place of study">Preferred of Study</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
              </select>
              <select name="place" id="place">
                <option value="place of study">Preferred of Study</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
              </select>

              <input class="submit" type="submit" />
              <div class="tcDiv">
                <input type="checkbox" name="T&C" id="TC" />
                <p>
                  I authorize Avanse Financial Services to connect with me over
                  call and Whatsapp overriding my registration with NDNC
                </p>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="aplySection2">
        <h4>
          Opt for a student loan today, and give yourself a bright future
          tomorrow!
        </h4>
        <p>
          We help students to conquer their dreams & aspirations by providing
          them study loans. We provide attractive interest rates and processing
          fees as low as just 1%. This ensures that budding aspirants are able
          to fulfil their dreams of acquiring quality education, not only in
          international institutions, but also in renowned Indian institutions
          with complete ease!
        </p>
      </section>
      <section class="section7">
        <h1>Student Success Stories</h1>
        <p class="sec7Para1">
          Read about the success stories of students who have achieved their
          educational aspiration.
        </p>
        <div class="reviewBoxMain">
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
        </div>
        <button class="knowMore">Know More</button>
      </section>
      <section class="section9">
        <a href="/">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/logo.png"
            alt="Logo"
        /></a>
        <div class="queote">
          <p>Are you ready to transform your life?</p>
          <p>Get a hassle-free education loan in just 3 days!</p>
        </div>
        <button class="applyNowLst">Apply Now</button>
      </section>
    </main>
    <footer class="footer">
      <div class="footerBox footerBox1">
        <h3>Education Loan</h3>
        <a href="">Avanse Education Loans</a
        ><a href="">Study in India Education Loan</a
        ><a href="">Study Abroad Education Loan</a
        ><a href="">Executive Education Loan</a
        ><a href="">Student Loan Refinancing</a>
      </div>
      <div class="footerBox footerBox2">
        <h3>Calculator</h3>
        <a href="">Course Expense Calculator</a
        ><a href="">Eligibility Calculator</a
        ><a href="">Education Loan EMI Calculator</a>
      </div>
      <div class="footerBox footerBox3">
        <h3>Company</h3>
        <a href="">About Avanse</a><a href="">Careers</a><a href="">Investors</a
        ><a href="">Media Room</a><a href="">Responsible Lending </a
        ><a href="">Sitemap</a>
      </div>
      <div class="footerBox footerBox4">
        <h3>Resources</h3>
        <a href="">Study Loan Resources</a><a href="">Blog</a
        ><a href="">Good Credit</a><a href="">FAQ's</a
        ><a href="">Pay Online</a> <a href="">WhatsApp Communication</a
        ><a href="">Sarfaesi Notice</a>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/indes.js"></script>
  </body>
</html>
