<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avanse Clone</title>
    <link rel="stylesheet" href="/stylesheets/style1.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="main">
      <nav class="navigation">
        <div class="logo">
          <a href="/">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/logo.png"
              alt="logo"
          /></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/about">About us</a></li>
            <li>Our Products</li>
            <li>Resources</li>
            <li>Contact Us</li>
            <i class="fa-solid fa-user"></i>
            <button onclick="applyForm()" class="mainApplybtn1">
              Apply Now
            </button>
          </ul>
        </div>
      </nav>

      <section class="section1">
        <div class="left1">
          <p>We Can Turn Your <span>Dreams</span> Into Reality!</p>
          <label for="Loan">Estimated fund for your higher education?</label>
          <select name="Loan" id="Loan">
            <option value="Select Loan Amount">Select Loan Amount</option>
            <option value="Below 5 Lacs">Below 5 Lacs</option>
            <option value="5 Lacs to 15 lacs">5Lacs to 15lacs</option>
            <option value="15 Lacs to 25 Lacs">15 Lacs to 25 Lacs</option>
            <option value="Above 25 Lacs">Above 25 Lacs</option>
          </select>
          <label for="Loan">Your dream country for higher education?</label>
          <select name="Country" id="Country">
            <option value="Place Of Study">Place Of Study</option>
            <option value="Australia">Australia</option>
            <option value="Canada">Canada</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="India">India</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Singapore">Singapore</option>
            <option value="UK">UK</option>
            <option value="USA">USA</option>
            <option value="UAE">UAE</option>
            <option value="Others">Others</option>
          </select>
          <button>Apply Now</button>
          <img
            src="https://www.avanse.com/viewPagesAssets/img/google.png"
            alt="rating Img"
          />
        </div>
        <div class="right1">
          <img
            class="right1Img1"
            src="https://www.avanse.com/viewPagesAssets/img/home-banner-girl.webp"
            alt="student"
          /><img
            class="right1Img2"
            src="https://www.avanse.com/viewPagesAssets/img/gptw-23-24.png"
            alt="Certificate"
          />
        </div>
      </section>
      <section class="section2">
        <p class="sec2Para1">Let Your <span>Dreams</span> Take Flight</p>
        <p>Hyper-personalised financial solutions that power your education!</p>
        <div class="section2Main">
          <div class="section2Left">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/study-abroad-home-new.webp"
              alt="student Img"
            />
          </div>
          <div class="section2Right">
            <div class="sec2RgtOpt">
              <p>Study Abroad</p>
              <p>Study in India</p>
            </div>
            <p>
              Moving abroad for your higher education opens several doors. You
              can gain access to highly-acclaimed and globally recognised
              programmes, or you may enhance your career prospects for the
              future. We have designed a study abroad loan for students who
              aspire to pursue their overseas education. With a study abroad
              loan, you can achieve all your academic aspirations with ease! We
              offer a student loan without collateral and with collateral,
              depending on your student loan requirements.
            </p>
            <div class="sec2Img">
              <img
                src="https://www.avanse.com/viewPagesAssets/img/icon/loan-amount-abroad.webp"
                alt="MoneyHand img"
              /><img
                src="https://www.avanse.com/viewPagesAssets/img/icon/repayment.webp"
                alt="money circle"
              /><img
                src="https://www.avanse.com/viewPagesAssets/img/icon/quick-sanctions.webp"
                alt="timeIsMoney"
              /><img
                src="https://www.avanse.com/viewPagesAssets/img/icon/customisable.webp"
                alt="loanPay"
              />
            </div>
            <button class="mainApplybtn1">Apply Now</button>
          </div>
        </div>
      </section>
      <section class="section3">
        <p class="sec2Para1">Avanse Offerings</p>
        <p>
          At Avanse, we don't just fuel academic aspirations, we help build
          India's educational landscape. We provide loans for students, adult
          learners or educational institutes in
          <span>need of educational finance</span>. Here's a look at our other
          <span>education loan</span> offerings:
        </p>
        <div class="sec3LoanBox">
          <p>Loans for Students</p>
          <p>Study Loans for Professionals</p>
          <p>Institution Loans</p>
        </div>
        <div class="sec3LoanDetail">
          <div class="loanDetailBox loanDetailBox1">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Loan for Higher Education</p>
          </div>
          <div class="loanDetailBox loanDetailBox2">
            <i class="fa-solid fa-book-atlas"></i>
            <p>Study in India</p>
          </div>
          <div class="loanDetailBox loanDetailBox3">
            <i class="fa-solid fa-school"></i>
            <p>Study Abroad</p>
          </div>
          <div class="loanDetailBox loanDetailBox4">
            <i class="fa-solid fa-book-journal-whills"></i>
            <p>Student Loan Refinancing</p>
          </div>
          <div class="loanDetailBox loanDetailBox5">
            <i class="fa-solid fa-building-columns"></i>
            <p>Short Term Loans</p>
          </div>
        </div>
      </section>
      <section class="section4">
        <p>Why Choose Avanse Students Loan</p>
        <div class="sec4Main">
          <div class="sec4Left">
            <P class="bluePara">Get up to 100% Financing</P>
            <P
              >We provide education financing solutions that cover the holistic
              cost of education.
            </P>
            <div class="line"></div>
            <P class="bluePara">Instant Loan for Students </P>
            <P
              >With a fast-track student loan application, you can get the funds
              within 3 working days!
            </P>
            <div class="line"></div>
            <P class="bluePara">Flexible Repayment Options </P>
            <P
              >You decide how and when you’d like to pay your loan back. You
              don’t have to make any payments until after you complete your
              course or secure employment!
            </P>
            <div class="line"></div>
            <P class="bluePara">Customisable Loans </P>
            <P
              >We design education financing solutions to suit your financial
              requirements.
            </P>
            <div class="line"></div>
            <P class="bluePara">Doorstep Service </P>
            <P
              >If you need help with your student loan, we’ll send an executive
              to help you get through the paperwork. All you have to do is apply
              for online student loan.
            </P>
          </div>
          <div class="sec4Right">
            <img
              src="https://www.avanse.com/viewPagesAssets/img/why-avanse.webp"
              alt="working Woman"
            />
          </div>
        </div>
      </section>
      <div class="adImg">
        <img
          src="https://www.avanse.com/viewPagesAssets/img/home-cta/vector.svg"
          alt="traveler boy"
        />

        <div class="adImgText">
          <!-- <img
            src="https://www.avanse.com/viewPagesAssets/img/home-cta/center.svg"
            alt="round2"
          /><img
            src="https://www.avanse.com/viewPagesAssets/img/home-cta/right.svg"
            alt="round3"
          /> -->
          <p class="">Find the Right Path for Your</p>
          <p>Study Abroad Journey</p>
          <a class="started" href="https:google.com">Get Started</a>
        </div>
      </div>

      <section class="section5">
        <p>How to Get Education <span> Loans for Students? </span></p>
        <p>
          You shouldn't have to jump through multiple hoops to apply for a
          student loan. The Avanse process is quick and simple. We give you all
          the information you need to get your student loan application in
          order. To apply for an Avanse student loan all you have to do is
          follow 4 easy steps.
        </p>
        <img
          src="https://www.avanse.com/viewPagesAssets/img/loan-process-home-desktop.webp"
          alt="carrerPath"
        />
      </section>
      <section class="section6">
        <div class="avanceTransformLeft">
          <P>Avanse - Transforming the <span>Education</span> Ecosystem</P>
          <P
            >Since our inception, we have helped 4,00,000+ students realise
            their academic aspirations in 4000+ institutions across 50+
            countries!</P
          >
          <button class="mainApplybtn1">Apply Now</button>
        </div>
        <div class="avanceTransformRight">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/transforms.webp"
            alt="eduGlobe"
          />
        </div>
      </section>
      <section class="section7">
        <h1>Student Success Stories</h1>
        <p class="sec7Para1">
          Read about the success stories of students who have achieved their
          educational aspiration.
        </p>
        <div class="reviewBoxMain">
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
          <div class="reviewBox">
            <div class="profile">
              <div class="profileImg">
                <img
                  src="https://www.avanse.com/assets/images/testimonialImages/1679978966023.jpg"
                  alt="Shivam"
                />
              </div>
              <div class="profileInfo">
                <h5>Shivam Mahto</h5>
                <h6>
                  Bachelor in BBA, University of Nalanda in Himachal(India)
                </h6>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est
              et molestias aperiam repellendus necessitatibus officia inventore
              reprehenderit, ipsa enim, architecto consequatur quae soluta
              accusamus ad illo similique ratione corrupti, id ullam! Culpa
              natus harum quas voluptatem neque aliquam sint, fuga iure
              assumenda sit est iusto, doloremque veniam aspernatur officiis!
            </p>
          </div>
        </div>
        <button class="knowMore">Know More</button>
      </section>
      <section class="section8">
        <h1>Awards & Accolades</h1>
        <p class="sec8Para1">
          Have a look at some of our achievements! We're proud to count the
          following awards and certifications among our achievements.
        </p>
        <div class="awardBoxMain">
          <div class="awardBox">
            <p>
              "Excellence in Education financing (NBFC)" 2022 Buisness Titan
              Awards, Radio City
            </p>
          </div>
          <div class="awardBox">
            <p>
              "Excellence in Education financing (NBFC)" 2022 Buisness Titan
              Awards, Radio City
            </p>
          </div>
          <div class="awardBox">
            <p>
              "Excellence in Education financing (NBFC)" 2022 Buisness Titan
              Awards, Radio City
            </p>
          </div>
          <div class="awardBox">
            <p>
              "Excellence in Education financing (NBFC)" 2022 Buisness Titan
              Awards, Radio City
            </p>
          </div>
        </div>
      </section>
      <section class="section9">
        <a href="/">
          <img
            src="https://www.avanse.com/viewPagesAssets/img/logo.png"
            alt="Logo"
        /></a>
        <div class="queote">
          <p>Are you ready to transform your life?</p>
          <p>Get a hassle-free education loan in just 3 days!</p>
        </div>
        <button class="applyNowLst">Apply Now</button>
      </section>
    </div>
    <footer class="footer">
      <div class="footerBox footerBox1">
        <h3>Education Loan</h3>
        <a href="">Avanse Education Loans</a
        ><a href="">Study in India Education Loan</a
        ><a href="">Study Abroad Education Loan</a
        ><a href="">Executive Education Loan</a
        ><a href="">Student Loan Refinancing</a>
      </div>
      <div class="footerBox footerBox2">
        <h3>Calculator</h3>
        <a href="">Course Expense Calculator</a
        ><a href="">Eligibility Calculator</a
        ><a href="">Education Loan EMI Calculator</a>
      </div>
      <div class="footerBox footerBox3">
        <h3>Company</h3>
        <a href="">About Avanse</a><a href="">Careers</a><a href="">Investors</a
        ><a href="">Media Room</a><a href="">Responsible Lending </a
        ><a href="">Sitemap</a>
      </div>
      <div class="footerBox footerBox4">
        <h3>Resources</h3>
        <a href="">Study Loan Resources</a><a href="">Blog</a
        ><a href="">Good Credit</a><a href="">FAQ's</a
        ><a href="">Pay Online</a> <a href="">WhatsApp Communication</a
        ><a href="">Sarfaesi Notice</a>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/indes.js"></script>
  </body>
</html>
